body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

hgroup {
    margin: 20px;
}

h1 {
    color: #8e9069;
    font-size: 2em;
}

h2 {
    color: #535151;
    font-size: 1.5em;
}

h3 {
    color: #000000;
    font-size: 1.2em;
}

p {
    color: #000000e4;
    line-height: 1.6;
}